<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<title>Security Whiteblue</title>
	<link rel="shortcut icon" href="https://whiteblue.kr/images/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="dev-ys-36">
	<meta name = "keywords" content="Security Whiteblue">
	<meta name="description" content="Security Whiteblue">
	<meta property="og:title" content="Security Whiteblue">
	<meta property="og:url" content="">
	<meta property="og:description" content="Security Whiteblue">
	<!-- bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
	<!-- stylesheet css -->
	<link rel="stylesheet" href="https://whiteblue.kr/css/main.css">
</head>
<body data-spy="scroll" data-target=".navbar-collapse">
	
	<%-include('layout/alert')%>

	<%-include('layout/nav')%>

	<%-include('layout/header')%>
	
	<div class="main">
		<!-- president and activities section -->
		<section class="container">
			<div class="row">
				<div class="col-lg-6 col-sm-12">
					<div class="president">
						<h2 class="accent bolder">1st president of a club</h2>
						<h3 class="bolder">Kim Ji Yun</h3>
						<p style="color:#60A9F0"><strong>- SYU. Computer Engineering</strong></p>
						<p style="color:#60A9F0"><strong>- Web & Network Hacking</strong></p>
						<p style="color:#60A9F0"><strong>- Reversing</strong></p>
						<p style="color:#60A9F0"><strong>- Cloud, network Security Solution (IDS)</strong></p>
						<p style="color:#60A9F0"><strong>- LIKELION 8th - 9th BackEnd</strong></p>
						<p style="color:#60A9F0"><strong>- CODE CLUB 2022</strong></p>
						<p style="color:#60A9F0"><strong>- Whiteblue 1th Administrator</strong></p>
					</div>
				</div>
				<div class="col-lg-6 col-sm-12">
					<div class="activities">
						<h2 class="accent white bolder">Activities</h2>
						<p><i class="bi bi-pencil-square"></i>&nbsp;&nbsp;<strong>Security Study</strong></p>
						<p>- Hacking</p>
						<p>- Reversing</p>
						<p>- Copmputer science</p>
						<p><i class="bi bi-layout-text-window-reverse"></i>&nbsp;&nbsp;<strong>Programming</strong></p>
						<p>- Assembly</p>
						<p>- C/C++</p>
						<p><i class="bi bi-globe"></i>&nbsp;&nbsp;<strong>CTF</strong></p>
						<p>- 국제기능올림픽대회 in Sanghai</p>
						<p>- HDCON</p>
						<p><i class="bi bi-house"></i>&nbsp;&nbsp;<strong>Volunteer Work</strong></p>
						<p>- Naver Connect 소프트웨어야놀자</p>
					</div>
				</div>
			</div>
		</section>
		
		<!-- introduce and technologies section -->
		<section class="container">
			<div class="row">
				<div class="col-lg-8 col-sm-12">
					<div class="introduce">
						<h2 class="accent white bolder">Introduce</h2>
						<div class="introduce-content">
							<h4 class="introduce-title accent">Purpose & Learn</h4>
							<p class="introduce-description">&nbsp;2022.3.21 신설된 삼육대학교 최초의 정보보안 동아리로 보안 스터디, 프로그래밍, CTF 출전을 주로 활동하고 있습니다.</p>
							<p class="introduce-description">&nbsp;다양한 SW 취약점 분석을 통한 연구활동 & 해킹방어대회 입상을 목표로 하고 있으며, 매주 있는 정기 활동 & 프로그래밍 스터디를 통해 모든 동아리원들이 Security Engineer로써 역량을 쌓아나가고 있습니다.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-12">
					<div class="technologies">
						<h2 class="accent bolder">Technologies</h2>
						<p><i class="bi bi-cpu"></i></i>&nbsp;&nbsp;Reversing</p>
						<p><i class="bi bi-cpu"></i></i>&nbsp;&nbsp;Network</p>
						<p><i class="bi bi-cpu"></i></i>&nbsp;&nbsp;WebHacking</p>
						<p><i class="bi bi-cpu"></i></i>&nbsp;&nbsp;Forensic</p>
						<p><i class="bi bi-cpu"></i></i>&nbsp;&nbsp;Pwnable</p>
						<p><i class="bi bi-cpu"></i></i>&nbsp;&nbsp;Crypto</p>
					</div>
				</div>
			</div>
		</section>
		
		<!-- contact and member section -->
		<section class="container">
			<div class="row">
				<div class="col-lg-4 col-sm-12">
					<div class="contact">
						<h2 class="accent bolder">Contact</h2>
						<p><i class="bi bi-map"></i>&nbsp;&nbsp;Sahmyook University.</p>
						<p><i class="bi bi-phone"></i>&nbsp;&nbsp;010-1234-5678</p>
						<p><i class="bi bi-envelope"></i>&nbsp;&nbsp;admin@whiteblue.kr</p>
						<p><i class="bi bi-globe"></i>&nbsp;&nbsp;www.whiteblue.kr</p>
						<p><i class="bi bi-github"></i>&nbsp;&nbsp;Security-Whiteblue</p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-12">
					<div class="member">
						<h2 class="accent white bolder">1st Member</h2>
						<div class="experience-content">
							<p><i class="bi bi-person-check"></i>&nbsp;&nbsp;CE | Jiyun Kim (Admin)</p>
							<p><i class="bi bi-person-plus"></i>&nbsp;&nbsp;CE | Sangyun Kim</p>
							<p><i class="bi bi-person-plus"></i>&nbsp;&nbsp;CE | Hun Kim</p>
							<p><i class="bi bi-person-plus"></i>&nbsp;&nbsp;CE | Kibaek Ahn</p>
							<p><i class="bi bi-person-plus"></i>&nbsp;&nbsp;CE | Seonah Lee</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-12">
					<div class="member">
						<h2 class="accent white bolder">1st Member</h2>
						<div class="experience-content">
							<p><i class="bi bi-person-plus"></i>&nbsp;&nbsp;CE | Hyunsoo Jung</p>
							<p><i class="bi bi-person-plus"></i>&nbsp;&nbsp;BA | Seung-gyu Im</p>
							<p><i class="bi bi-person-plus"></i>&nbsp;&nbsp;AI | Dayoung Kim</p>
							<p><i class="bi bi-person-plus"></i>&nbsp;&nbsp;AI | Bomin Kim</p>
							<p><i class="bi bi-person-plus"></i>&nbsp;&nbsp;AI | Gyeongsoo Jeon</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	
	<%-include('layout/footer')%>
	
</body>
</html>