<!-- footer section -->
<footer>
    <div class="container">
        <div class="row">
            <p class="col-lg-12 col-sm-12">
                <p style="font-size: 12px;">Copyright &copy; Whiteblue 2022. All rights reserved.</p>
                <p style="font-size: 12px;">Github <i class="bi bi-github"></i> https://github.com/Security-Whiteblue</p>
                <p style="font-size: 12px;">Sahmyook University Security Club on Campus</p>
                <div class="logo">
                    <img src="https://whiteblue.kr/images/logo1.png" height="22" width="auto">
                    &nbsp;
                    &nbsp;
                    <img src="https://whiteblue.kr/images/logo2.png" height="22" width="auto">
                    &nbsp;
                    &nbsp;
                    <img src="https://whiteblue.kr/images/logo3.png" height="22" width="auto">
                </div>
            </div>
        </div>
    </div>
</footer>